:root{
    --font-headings: 'Ubuntu';
    --font-text-default: 'sans-serif';

    --color-heading: #13141f;
}

*{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

#header{
    background-color: var(--color-heading);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo{
    padding: 1rem;
    color: #fff;
}

.header-logo-icon{
    margin-right: 0.2rem;
}

.header-logo-text{
    font-family: var(--font-headings);

}